/pom.xml
/pom.xml.asc
*jar
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
docs/*
autodoc/**
/target
node_modules/
resources/js/zetta-parser-browser-test.js
resources/js/zetta-parser-node-test.js
